// GALLERY
.gallery(js-fancybox data-gallery="1")
  span(href="img/gallery/1_1.jpg" data-fancybox="stage1" data-caption="Выписка из протокола заседания Президиума ВСНХ СССР от 06.04.1929г. о строительстве автозавода близ Н. Новгорода")
  span(href="img/gallery/1_2.1.jpg" data-fancybox="stage1" data-caption="Страница 1")
  span(href="img/gallery/1_2.2.jpg" data-fancybox="stage1" data-caption="Страница 2")
  span(href="img/gallery/1_3.jpg" data-fancybox="stage1" data-caption="После подписания договора с Форд мотор компани. Зам. председателя ВСНХ СССР В. Межлаук, глава Форд мотор компани Г.Форд, председатель Амторга С. Брон. 31 мая 1929 г")
  span(href="img/gallery/1_4.jpg" data-fancybox="stage1" data-caption="Деревня Монастырка - место, выбранное для строительства Горьковского автозавода.")
  span(href="img/gallery/1_5.jpg" data-fancybox="stage1" data-caption="Заложен первый камаень в фундамент будущего автозавода. 02.05. 1930 г")
  span(href="img/gallery/1_5.1.jpg" data-fancybox="stage1" data-caption="Подписание договора с американской фирмой Остин. авг. 1930г.")
  span(href="img/gallery/1_6.jpg" data-fancybox="stage1" data-caption="Первые строители автозавода приходили из близлежащих деревень. 1929 г")
  span(href="img/gallery/1_7.jpg" data-fancybox="stage1" data-caption="Начало строительства автогиганта. Июнь 1930 г.")
  span(href="img/gallery/1_8.jpg" data-fancybox="stage1" data-caption="Общий вид строительной площадки. 1930 г.")
  span(href="img/gallery/1_9.jpg" data-fancybox="stage1" data-caption="Так строили завод. 1930 г.")
  span(href="img/gallery/1_10.jpg" data-fancybox="stage1" data-caption="Русские и американские рабочие - первостроители ГАЗа. 1930 г.")
  span(href="img/gallery/1_11.jpg" data-fancybox="stage1" data-caption="Крепкие плечи да мозолистые руки. Вот и вся механизация.")
  span(href="img/gallery/1_11.2.jpg" data-fancybox="stage1" data-caption="Митинг. посвященный закладке 1-го камня в фундамент автозавода. 02.05.30.")
  span(href="img/gallery/1_13.jpg" data-fancybox="stage1" data-caption="Митинг, посвященный окончанию строительства автозавода. 01.11.1931 г")
  span(href="img/gallery/1_14.jpg" data-fancybox="stage1" data-caption="Автозавод построен. 1934 г")
  span(href="img/gallery/1_15.jpg" data-fancybox="stage1" data-caption="Деревенский парень становится индустриальным рабочим. Сборка первых автомобилей. 1932 г.")
  span(href="img/gallery/1_16.jpg" data-fancybox="stage1" data-caption="Первый автомобиль ГАЗ-АА полуторка. 29.01.32.")
  span(href="img/gallery/1_18.jpg" data-fancybox="stage1" data-caption="С.С. Дьяконов - директор ГАЗа 1932-1938гг. Организатор производства первых автомобилей.Под его руководством за 7 лет ГАЗ создал 17 моделей и модификация автомобилей.Репрессирован и расстрелян в 1938г.")
  span(href="img/gallery/1_22.jpg" data-fancybox="stage1" data-caption="Так строили завод.. 1930г.")
  span(href="img/gallery/1_25.jpg" data-fancybox="stage1" data-caption="Ударная бригада - коммуна комсомольцев- каменщиков им. крейсера Аврора. 1930г.")
  span(href="img/gallery/1_31.jpg" data-fancybox="stage1" data-caption="Женская бригада на строительстве завода. 1930г")

// next gallery

.gallery(js-fancybox data-gallery="2")
  span(href="img/gallery/2_1.jpg" data-fancybox="stage2" data-caption="Так начинался автопробег Москва-Кара-Кумы-Москва. июль 1933 г.")
  span(href="img/gallery/2_2.jpg" data-fancybox="stage2" data-caption="Первые серьезные препятствия. 1933 г.")
  span(href="img/gallery/2_4.jpg" data-fancybox="stage2" data-caption="Каракумский пробег. В пути. 1933г.")
  span(href="img/gallery/2_4.2.jpg" data-fancybox="stage2" data-caption="Испытания автомобилей в Памирском пробеге.1936 г.")
  span(href="img/gallery/2_5.jpg" data-fancybox="stage2" data-caption="Первая советская трехоска ГАЗ-ААА в Кара-Кумах.  1933 г.")
  span(href="img/gallery/2_5.2.jpg" data-fancybox="stage2" data-caption="В Памирском автопробеге 1936 г.")
  span(href="img/gallery/2_6.jpg" data-fancybox="stage2" data-caption="Эмка по дороге на Памир. 1936 г.")
  span(href="img/gallery/2_7.jpg" data-fancybox="stage2" data-caption="Колонна трехосок ГАЗ-ААА в Каракумском пробеге. 1933 г.")
  span(href="img/gallery/2_8.jpg" data-fancybox="stage2" data-caption="Трехоска ГАЗ-ААА идет вперед по бездорожью. 1933 г.")
  span(href="img/gallery/2_8.2.jpg" data-fancybox="stage2" data-caption="ЭМКА  на Памирском автопробеге. 1936 г.")
  span(href="img/gallery/2_9.jpg" data-fancybox="stage2" data-caption="Автомобиль ГАЗ-А в Каракумском пробеге 1933 г.")
  span(href="img/gallery/2_10.jpg" data-fancybox="stage2" data-caption="В брод. Испытания в Памирском автопробеге. 1936 г.")
  span(href="img/gallery/2_10.2.jpg" data-fancybox="stage2" data-caption="Встреча участников пробега  у колодца Дахлы в пустыне. 1933 г.")
  span(href="img/gallery/2_12.jpg" data-fancybox="stage2" data-caption="Грамота участника Памирского пробега")
  span(href="img/gallery/2_13.jpg" data-fancybox="stage2" data-caption="Через барханы. Памир. 1936 г")
  span(href="img/gallery/2_14.jpg" data-fancybox="stage2" data-caption="В горах на Памирском пробеге.")
  span(href="img/gallery/2_15.jpg" data-fancybox="stage2" data-caption="В ущелье Памира. 1936 г.")
  span(href="img/gallery/2_16.jpg" data-fancybox="stage2" data-caption="Песчаная буря. Памир. 1936 г")
  span(href="img/gallery/2_17.jpg" data-fancybox="stage2" data-caption="По дороге на Памир. Встреча в Чувашской деревне. 1936 г.")
  span(href="img/gallery/2_18.jpg" data-fancybox="stage2" data-caption="Трудный перевал. Памир. 1936 Г")
  span(href="img/gallery/2_19.jpg" data-fancybox="stage2" data-caption="На Памир!")
  span(href="img/gallery/2_20.jpg" data-fancybox="stage2" data-caption="В узбекской деревне. Памир. 1936 г.")
  span(href="img/gallery/2_21.jpg" data-fancybox="stage2" data-caption="ГАЗ-А преодолевает брод.")
  span(href="img/gallery/2_22.jpg" data-fancybox="stage2" data-caption="Эмка - испытано временем и дорогами. Памир. 1936 г.")
  span(href="img/gallery/2_23.jpg" data-fancybox="stage2" data-caption="Памирский пробег.  Местные жители встречают  участников автопробега.")
  span(href="img/gallery/2_24.jpg" data-fancybox="stage2" data-caption="Памирский автопробег. На старат!")
  span(href="img/gallery/2_25.jpg" data-fancybox="stage2" data-caption="ГАЗ-А в Узбекистане.")
  span(href="img/gallery/2_26.jpg" data-fancybox="stage2" data-caption="Памирский автопробег.  Остановка в пути.")

// next gallery

.gallery(js-fancybox data-gallery="3")
  span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="Гоночный ГЛ-1 на рекордном старте.1938 г.")
  span(href="img/gallery/3_2.jpg" data-fancybox="stage3" data-caption="Испытатель Аркадий Николаев ставит рекорд скорости на ГЛ-1. 1938 г.")
  span(href="img/gallery/3_3.jpg" data-fancybox="stage3" data-caption="ГЛ-1 - спорткар на базе М-1")
  span(href="img/gallery/3_4.jpg" data-fancybox="stage3" data-caption="Испытатель А.Николаев на гонке на Житомирском шоссе. 1938 г")
  span(href="img/gallery/3_5.jpg" data-fancybox="stage3" data-caption="Спорт-кар ГЛ-1 перед стартом")
  span(href="img/gallery/3_7.jpg" data-fancybox="stage3" data-caption="Последние приготовления перед ответственным стартом.")
  span(href="img/gallery/3_8.jpg" data-fancybox="stage3" data-caption="А. Николаев и ГЛ-1. 1940 г.")
  span(href="img/gallery/3_9.jpg" data-fancybox="stage3" data-caption="Гоночный автомобиль Победа-Спорт.1956 г.")
  span(href="img/gallery/3_10.jpg" data-fancybox="stage3" data-caption="Грамота испытателю ГЛ-1 А. Николаеву за установление рекорда скорости. 1931 г.")
  span(href="img/gallery/3_11.jpg" data-fancybox="stage3" data-caption="Команда создателей и испытателей автомобиля ГАЗ-ТР. Ноябрь 1954 г.")
  span(href="img/gallery/3_12.jpg" data-fancybox="stage3" data-caption="Конструктор А.А. Смолин и испытатели у гоночного автомобиля ГАЗ. 50-е гг.")
  span(href="img/gallery/3_13.jpg" data-fancybox="stage3" data-caption="Конструктор спортивных автомобилей А.А. Смолин и испытатель  А. Николаев у автомобиля Эмка, на базе которой создавался ГЛ-1 . 1938 г.")
  span(href="img/gallery/3_14.jpg" data-fancybox="stage3" data-caption="На ГЛ-1 ставится всесоюзный рекорд. 1938 г.")
  span(href="img/gallery/3_15.jpg" data-fancybox="stage3" data-caption="На километровом отрезке Москва-Горький")
  span(href="img/gallery/3_16.jpg" data-fancybox="stage3" data-caption="Создание автомобиля ГАЗ-Торпедо. начало 50-х гг.")


//- 
//- 
//- // next gallery
//- 
//- .gallery(js-fancybox data-gallery="3")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//- 
//- 
//- // next gallery
//- 
//- .gallery(js-fancybox data-gallery="3")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//- 
//- 
//- // next gallery
//- 
//- .gallery(js-fancybox data-gallery="3")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//- 
//- // next gallery
//- 
//- .gallery(js-fancybox data-gallery="3")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//-   span(href="img/gallery/3_1.jpg" data-fancybox="stage3" data-caption="описание")
//- 
//- 
