.mobile-header
  .mobile-header__wrapper
    .hamburger.hamburger--squeeze(js-hamburger)
      .hamburger-box
        .hamburger-inner


// MOBILE NAVI
.mobile-navi
  ul.mobile-navi__menu
    li
      a(href='#') Тут
    li
      a(href='#') Что
    li
      a(href='#') то
    li
      a(href='#') очень
    li
      a(href='#') интересное
      
