.mobile-header
  a(href="../" class='no-decor')
    img(src='img/but_close.png')
  .mobile-header__wrapper
    .hamburger.hamburger--squeeze(js-hamburger)
      .hamburger-box
        .hamburger-inner


// MOBILE NAVI
.mobile-navi
  ul.mobile-navi__menu
    li
      a(href="stage1_info.html" ) проект века
    li
      a(href="stage1_faces.html" ) лица периода
    li
      a(href="stage1_car_2.html" ) газ-А
    li
      a(href="stage1_car_1.html" ) газ-АА
