.mobile-header
  .mobile-header__wrapper
    .hamburger.hamburger--squeeze(js-hamburger)
      .hamburger-box
        .hamburger-inner


// MOBILE NAVI
.mobile-navi
  ul.mobile-navi__menu
    li(data-stage="1").is-current
      a(href="index.html#section-1" ) проект века
    li(data-stage="2")
      a(href="index.html#section-2" ) Испытано бездорожьем
    li(data-stage="3")
      a(href="index.html#section-3" ) Спорт — это радость побед
    li(data-stage="4")
      a(href="index.html#section-4" ) На пике трудового энтузиазма

    li(data-stage="5")
      a(href="index.html#section-5" ) На защите военныхрубежей
    li(data-stage="6")
      a(href="index.html#section-6" ) Победа и восстановление страны
    li(data-stage="7")
      a(href="index.html#section-7" ) ГАЗ кормит всю страну
    li(data-stage="8")
      a(href="index.html#section-8" ) Признание в условиях «холодной войны»

    li(data-stage="9")
      a(href="index.html#section-9" ) ГАЗ — двигатель прогресса
    li(data-stage="10")
      a(href="index.html#section-10" ) ГАЗ — герой отечественного кинематографа
      
    li(data-stage="11")
      a(href="index.html#section-11" ) Строим новую Россию вместе
    li(data-stage="12")
      a(href="index.html#section-12" ) Новое поколение для всей страны
