// STAGE NAV
.stage-nav(js-stage-nav data-stage="1")
  .stage-nav__wrapper
    ul.stage-nav__menu
      li.stage-nav__li(data-stage="1").is-active
        i.icon.icon-stageNav-1
      li.stage-nav__li(data-stage="2")
        i.icon.icon-stageNav-2
      li.stage-nav__li(data-stage="3")
        i.icon.icon-stageNav-3
      li.stage-nav__li(data-stage="4")
        i.icon.icon-stageNav-4
      li.stage-nav__li(data-stage="5")
        i.icon.icon-stageNav-5
      li.stage-nav__li(data-stage="6")
        i.icon.icon-stageNav-6
      li.stage-nav__li(data-stage="7")
        i.icon.icon-stageNav-7
      li.stage-nav__li(data-stage="8")
        i.icon.icon-stageNav-8
      li.stage-nav__li(data-stage="9")
        i.icon.icon-stageNav-9
      li.stage-nav__li(data-stage="10")
        i.icon.icon-stageNav10
      li.stage-nav__li(data-stage="11")
        i.icon.icon-stageNav11
      li.stage-nav__li(data-stage="12")
        i.icon.icon-stageNav12
      li.stage-nav__li(data-stage="13")
        i.icon.icon-stageNav13
