// STAGE NAV
.stage-nav(js-stage-nav data-stage="1")
  .stage-nav__wrapper
    ul.stage-nav__menu
      li.stage-nav__li(data-stage="1").is-active
        +icon('ico-stageNav-1')
      li.stage-nav__li(data-stage="2")
        +icon('ico-stageNav-2')
      li.stage-nav__li(data-stage="3")
        +icon('ico-stageNav-3')
      li.stage-nav__li(data-stage="4")
        +icon('ico-stageNav-4')
      li.stage-nav__li(data-stage="5")
        +icon('ico-stageNav-5')
      li.stage-nav__li(data-stage="6")
        +icon('ico-stageNav-6')
      li.stage-nav__li(data-stage="7")
        +icon('ico-stageNav-7')
      li.stage-nav__li(data-stage="8")
        +icon('ico-stageNav-8')
      li.stage-nav__li(data-stage="9")
        +icon('ico-stageNav-9')
      li.stage-nav__li(data-stage="10")
        +icon('ico-stageNav-10')
      li.stage-nav__li(data-stage="11")
        +icon('ico-stageNav-11')
      li.stage-nav__li(data-stage="12")
        +icon('ico-stageNav-12')
      li.stage-nav__li(data-stage="13")
        +icon('ico-stageNav-13')
