.mobile-header
  .mobile-header__wrapper
    .hamburger.hamburger--squeeze(js-hamburger)
      .hamburger-box
        .hamburger-inner


// MOBILE NAVI
.mobile-navi
  ul.mobile-navi__menu
    li
      a(href="index.html#section-1" ) проект века
    li
      a(href="index.html#section-2" ) Испытано бездорожьем
    li
      a(href="index.html#section-3" ) Спорт — это радость побед
    li
      a(href="index.html#section-4" ) На пике трудового энтузиазма

    li
      a(href="index.html#section-5" ) На защите военныхрубежей
    li
      a(href="index.html#section-6" ) Победа и восстановление страны
    li
      a(href="index.html#section-7" ) ГАЗ кормит всю страну
    li
      a(href="index.html#section-8" ) Признание в условиях «холодной войны»

    li
      a(href="index.html#section-9" ) ГАЗ — двигатель прогресса
    li
      a(href="index.html#section-10" ) ГАЗ — герой отечественного кинематографа
    li
      a(href="index.html#section-11" ) ГАЗ — символ 1980-х гг.
    li
      a(href="index.html#section-12" ) Строим новую Россию вместе
    li
      a(href="index.html#section-13" ) Новое поколение для всей страны
