---
title: ГАЗ спецпроект
---
extends shared/_layout
block content
  
  .stages
    
    // STAGE
    .stage-photos
      
    .stage-background.scroll
      img(src='img/stage1-bg.png' srcset="img/stage1-bg@2x.png 2x")
    
    .stage-text(js-popup).scroll
      .stage-text__title <span>Проект</span> <br> <span>века</span>
      .stage-text__short Американская компания Ford Motor Company и Высший совет народного хозяйства СССР заключают соглашение о технической помощи по организации массового производства легковых и грузовых автомобилей. В итоге благодаря западным технологиям и советскому энтузиазму завод построили в рекордные сроки — за полтора года. В соответствии с соглашением ГАЗ получал техническую поддержку от Ford Motor Company на протяжении пяти лет после пуска завода.
      
    
    // TIMELINE
    .stage-timeline.scroll
      .stage-timeline__road
        img(src='img/road.png' srcset="img/road@2x.png 2x")
    
    
  // STAGE NAV
  .stage-nav
    .stage-nav__wrapper
      ul.stage-nav__menu(js-stage-nav)
        li.stage-nav__li(data-stage="1").is-active
          i.icon.icon-stageNav-1
        li.stage-nav__li(data-stage="2")
          i.icon.icon-stageNav-2
        li.stage-nav__li(data-stage="3")
          i.icon.icon-stageNav-3
        li.stage-nav__li(data-stage="4")
          i.icon.icon-stageNav-4
        li.stage-nav__li(data-stage="5")
          i.icon.icon-stageNav-5
        li.stage-nav__li(data-stage="6")
          i.icon.icon-stageNav-6
        li.stage-nav__li(data-stage="7")
          i.icon.icon-stageNav-7
        li.stage-nav__li(data-stage="8")
          i.icon.icon-stageNav-8
        li.stage-nav__li(data-stage="9")
          i.icon.icon-stageNav-9
        li.stage-nav__li(data-stage="10")
          i.icon.icon-stageNav10
        li.stage-nav__li(data-stage="11")
          i.icon.icon-stageNav11
        li.stage-nav__li(data-stage="12")
          i.icon.icon-stageNav12
        li.stage-nav__li(data-stage="13")
          i.icon.icon-stageNav13
