---
title: ГАЗ спецпроект
---
extends shared/_layout
block content
  
  .stages(js-stage-global data-stage="1")
    // PHOTOS
    .stage-photos
      .stage-photos__wrapper()
        img(js-png-clickthrough js-trigger-fancybox data-for-gallery="1" src='img/stagePhoto-1.png' srcset='img/stagePhoto-1@2x.png 2x')
    
    
    // BACKGROUND
    .stage-background.scroll
      img(src='img/stageBg-1.png' srcset="img/stageBg-1@2x.png 2x")
    
    // TEXT
    .stage-text.scroll
      .stage-text__wrapper(js-popup data-mfp-src="[data-popup='stage1_car_1']")
        .stage-text__top
          .stage-text__title <span>Проект</span> <br> <span>века</span>
          .stage-text__logo
            img(src='img/old_logo.png' srcset="img/old_logo@2x.png 2x")
        .stage-text__short Американская компания Ford Motor Company и Высший совет народного хозяйства СССР заключают соглашение о технической помощи по организации массового производства легковых и грузовых автомобилей. В итоге благодаря западным технологиям и советскому энтузиазму завод построили в рекордные сроки — за полтора года. В соответствии с соглашением ГАЗ получал техническую поддержку от Ford Motor Company на протяжении пяти лет после пуска завода.
        
    
    // TIMELINE
    .stage-timeline.scroll
      .stage-timeline__wrapper
        .stage-timeline__road
          // repeat-x like ?? -- refactor
          img(src='img/road.png' srcset="img/road@2x.png 2x")
          img(src='img/road.png' srcset="img/road@2x.png 2x")
          img(src='img/road.png' srcset="img/road@2x.png 2x")
        
        .stage-timeline__cars
          .stage-car.stage-car--1_1
            img(src='img/car1_1.png' srcset='img/car1_1@2x.png 2x')
          .stage-car.stage-car--1_2
            img(src='img/car1_2.png' srcset='img/car1_2@2x.png 2x')



  // STAGE NAV
  .stage-nav
    .stage-nav__wrapper
      ul.stage-nav__menu(js-stage-nav)
        li.stage-nav__li(data-stage="1").is-active
          i.icon.icon-stageNav-1
        li.stage-nav__li(data-stage="2")
          i.icon.icon-stageNav-2
        li.stage-nav__li(data-stage="3")
          i.icon.icon-stageNav-3
        li.stage-nav__li(data-stage="4")
          i.icon.icon-stageNav-4
        li.stage-nav__li(data-stage="5")
          i.icon.icon-stageNav-5
        li.stage-nav__li(data-stage="6")
          i.icon.icon-stageNav-6
        li.stage-nav__li(data-stage="7")
          i.icon.icon-stageNav-7
        li.stage-nav__li(data-stage="8")
          i.icon.icon-stageNav-8
        li.stage-nav__li(data-stage="9")
          i.icon.icon-stageNav-9
        li.stage-nav__li(data-stage="10")
          i.icon.icon-stageNav10
        li.stage-nav__li(data-stage="11")
          i.icon.icon-stageNav11
        li.stage-nav__li(data-stage="12")
          i.icon.icon-stageNav12
        li.stage-nav__li(data-stage="13")
          i.icon.icon-stageNav13


  // GALLERY
  .gallery(js-fancybox data-gallery="1")
    span(href="img/gallery/1_1.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_3.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_4.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_5.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_6.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_7.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_8.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_9.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_10.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_11.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_12.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_13.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_14.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_15.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_16.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_17.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_20.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_21.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_22.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_25.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_26.jpg" data-fancybox="stage1" data-caption="Caption")

  
  // POPUPS
  // to be refactored for ajax
  .popup-dialog.mfp-hide(data-popup="stage1_car_1")
    .popup-bg-image
      img(src='img/popup/popupBgStage1_car_1.png' srcset='img/popup/popupBgStage1_car_1@2x.png 2x')
      
    .popup__top
      .popup__logo
        img(src='img/old_logo.png' srcset="img/old_logo@2x.png 2x")
      .popup__title Газ-AA
      
      .popup__navigation
        a(data-mfp-src="[data-popup='stage1_car_2']" js-popup) газ-А
        a(js-close-popup) проект века
        a(data-mfp-src="[data-popup='stage1_faces']" js-popup) лица периода
    
    .popup__content
      .popup__text
        p.t-caption
          i В народе известен как полуторка. Машину называли так из-за грузоподъёмности в полторы тонны. Изначально образцом послужил американский грузовик «Форд» модели АА образца 1930 года, но впоследствии автомобиль был перепроектирован по отечественным чертежам.
        p Даже в самом начале работы завода конструкторы старались создавать машины, которые бы отличались от американских прототипов. На газовских машинах были усилены картеры сцепления и рулевые механизмы, изменена форма радиаторов, дюймовая резьба была заменена на метрическую.  
        p К концу 1932 года завод выпускал по 60 грузовиков ГАЗ-АА в сутки.
        p Полуторки смело можно назвать самым массовым советским автомобилем первой половины XX века. Их можно было встретить на дорогах страны вплоть до конца 60-х годов. Очень востребованы эти машины были и в годы Великой Отечественной войны. Например, именно на полуторках эваку- ировали людей из блокадного Ленинграда и привозили продовольствие в осаждённый город. Дело в том, что ГАЗ-АА был легче другого отечественного грузовика тех лет — ЗИС-5 — и поэтому на нём было безопаснее передвигаться по льду.

      .popup__chars
        .popup__chars-heading Годы производства: 1932 — 1938
        table
          tr
            td Длина:
            td 5335 мм
          tr
            td Ширина:
            td 2030 мм
          tr
            td Высота:
            td 1870 мм
          tr
            td
            td 
          tr
            td Клиренс:
            td 200 мм
          tr
            td
            td 
          tr
            td Колёсная база:
            td 3340 мм
          tr
            td
            td 
          tr
            td Масса:
            td 1750 кг
          tr
            td
            td 
          tr
            td Грузоподъемность:
            td 1500 кг

      .popup__image
        img(src='img/popup/popupStage1_car_1.png' srcset='img/popup/popupStage1_car_1@2x.png 2x')
        
        
  // next
  .popup-dialog.mfp-hide(data-popup="stage1_car_2")
    .popup-bg-image
      img(src='img/popup/popupBgStage1_car_2.png' srcset='img/popup/popupBgStage1_car_2@2x.png 2x')
      
    .popup__top
      .popup__logo
        img(src='img/old_logo.png' srcset="img/old_logo@2x.png 2x")
      .popup__title Газ-A
      
      .popup__navigation
        a(data-mfp-src="[data-popup='stage1_car_1']" js-popup) газ-А
        a(js-close-popup) проект века
        a(data-mfp-src="[data-popup='stage1_faces']" js-popup) лица периода
    
    .popup__content
      .popup__text
        p.t-caption
          i Следующим автомобилем, за который взялись на Горьковском заводе, стал ГАЗ-А. Эта легковая машина получила такие же, как у грузового ГАЗ-АА, двигатель, радиатор, капот, моторный щит кузова и всю систему электрооборудования.  
        p Машина среднего класса выпускалась только с открытым 5-местным 4-дверным кузовом типа «фаэтон». На случай непогоды можно было поднять брезентовый тент и пристегнуть над дверьми брезентовые боковины с целлулоидными оконцами. Но в стране с суровым климатом это всё равно было не очень практичное решение. В 1934 году была выпущена опытная партия машин, оборудованных закрытыми кузовами типа «седан». Сборка на конвейере таких кузовов, в которых требовалась взаимная подгонка многих сложных по форме деталей, шла очень медленно, и от них в итоге отказались. И тем не менее ГАЗ-А стал самой массовой советской легковой моделью первой половины 1930-х, поставлялся преимущественно государственным и общественным организациям, а также в Красную армию. Частным лицам автомобиль не продавался. 
        p К слову, машина именно модели ГАЗ-А стала стотысячной по счёту, которая сошла с конвейера Горьковского автомобильного завода 17 апреля 1935 года.  

      .popup__chars
        img(src='img/popup/popupStage1_car_2.png' srcset='img/popup/popupStage1_car_2@2x.png 2x')
        
        .popup__chars-heading Годы производства: 1932 — 1938
        .popup__chars-table-row
          table
            tr
              td Тип кузова:
              td 4 дв. фаэтон (5 мест.), 4 дв. седан (5 мест.),<br> 2 дв. пикап (2мест.), рамные

            tr
              td
              td

            tr    
              td Компоновка:
              td переднемоторная, заднеприводная
            tr
              td
              td

            tr
              td Длина:
              td 3790 мм
            tr
              td Ширина:
              td 1710 мм
            tr
              td Высота:
              td 1788 мм
          table
            tr
              td Клиренс:
              td 205 мм
            tr
              td
              td
            tr
              td Колёсная база:
              td 2630 мм
            tr
              td
              td
            tr
              td Колея задняя:
              td 1420 мм
            tr
              td Колея передняя:
              td  1405 мм
            tr
              td
              td
            tr
              td Масса:
              td 1080 кг



      .popup__image
        figure
          img(src='img/popup/popupStage1_car_3.png' srcset='img/popup/popupStage1_car_3@2x.png 2x')
          figcaption Автомобиль ГАЗ-А в подарок наркому тяжелого <br> машиностроения СССР Серго Орджоникидзе.<br> 1935 г.
