---
title: ГАЗ спецпроект
bodyClass: homepage
---
extends shared/_layout

block header
  include components/_stage-header
  
block content
  
  .stages(js-stage-global data-stage="1")
    // PHOTOS
    .stage-photos
      .stage-photos__wrapper
        img.is-active(js-png-clickthrough js-png-hover data-for-gallery="1" src='img/stagePhoto-1.png' srcset='img/stagePhoto-1@2x.png 2x')
        img(js-png-clickthrough js-png-hover data-for-gallery="2" src='img/stagePhoto-2.png' srcset='img/stagePhoto-2@2x.png 2x')
        img(js-png-clickthrough js-png-hover data-for-gallery="3" src='img/stagePhoto-3.png' srcset='img/stagePhoto-3@2x.png 2x')
        img(js-png-clickthrough js-png-hover data-for-gallery="4" src='img/stagePhoto-4.png' srcset='img/stagePhoto-4@2x.png 2x')
        img(js-png-clickthrough js-png-hover data-for-gallery="5" src='img/stagePhoto-4.png' srcset='img/stagePhoto-4@2x.png 2x')
        img(js-png-clickthrough js-png-hover data-for-gallery="6" src='img/stagePhoto-6.png' srcset='img/stagePhoto-6@2x.png 2x')
        img(js-png-clickthrough js-png-hover data-for-gallery="7" src='img/stagePhoto-4.png' srcset='img/stagePhoto-4@2x.png 2x')
        img(js-png-clickthrough js-png-hover data-for-gallery="8" src='img/stagePhoto-4.png' srcset='img/stagePhoto-4@2x.png 2x')
        img(js-png-clickthrough js-png-hover data-for-gallery="9" src='img/stagePhoto-4.png' srcset='img/stagePhoto-4@2x.png 2x')
        img(js-png-clickthrough js-png-hover data-for-gallery="10" src='img/stagePhoto-4.png' srcset='img/stagePhoto-4@2x.png 2x')
        img(js-png-clickthrough js-png-hover data-for-gallery="11" src='img/stagePhoto-4.png' srcset='img/stagePhoto-4@2x.png 2x')
        img(js-png-clickthrough js-png-hover data-for-gallery="12" src='img/stagePhoto-4.png' srcset='img/stagePhoto-4@2x.png 2x')
        img(js-png-clickthrough js-png-hover data-for-gallery="13" src='img/stagePhoto-4.png' srcset='img/stagePhoto-4@2x.png 2x')

    
    // SLIDING SECTION
    .stage-slider(js-main-slider)
      .stage-slide(data-stage="1")
      
        // TEXT
        .stage-text
          .stage-text__wrapper
            a.stage-text__top(href="stage1_info.html")
              .stage-text__title Проект<br>века
              .stage-text__logo
                img(src='img/old_logo.png' srcset="img/old_logo@2x.png 2x")
            img.stage-text__mobile(js-start-gallery data-for-gallery="1" src='img/stagePhotoMobile-1.png' srcset='img/stagePhotoMobile-1@2x.png 2x')
            .stage-text__short Американская компания Ford Motor Company и Высший совет народного хозяйства СССР заключают соглашение о технической помощи по организации массового производства легковых и грузовых автомобилей. В итоге благодаря западным технологиям и советскому энтузиазму завод построили в рекордные сроки — за полтора года. В соответствии с соглашением ГАЗ получал техническую поддержку от Ford Motor Company на протяжении пяти лет после пуска завода.
        
        // BACKGROUND
        .stage-background
          //- picture
          //-   source(media="(min-width: 800px)" srcset="img/stageBg-1.png 1x, img/stageBg-1@2x.png 2x")
          //-   source(media="(max-width: 800px)" srcset="img/stageBgMobile-1.png 1x, img/stageBgMobile-1@2x.png 2x")
          //-   img(src="img/stageBg-1.png")
          .stage-background__city
            img(src="img/stageBg-1-1.png" srcset="img/stageBg-1-1@2x.png 2x")
          
          .stage-background__trees
            img(src="img/stageBg-1-2.png" srcset="img/stageBg-1-2@2x.png 2x")

        // TIMELINE
        .stage-timeline
          .stage-timeline__wrapper
            .stage-timeline__road
              // repeat-x like ?? -- refactor
              img(src='img/road.png' srcset="img/road@2x.png 2x")
              img(src='img/road.png' srcset="img/road@2x.png 2x")
              img(src='img/road.png' srcset="img/road@2x.png 2x")
              
            .stage-timeline__cars
              a.stage-car.stage-car--1_1(href="stage1_car_2.html" )
                include ../inline-svg/car1_1.svg
                // img(src='img/car1_1.png' srcset='img/car1_1@2x.png 2x')
              a.stage-car.stage-car--1_2(href="stage1_car_1.html")
                // img(src='img/car1_2.png' srcset='img/car1_2@2x.png 2x')
                include ../inline-svg/car1_2.svg
        
        // MOBILE-NAVI
        .stage-m-nav
          .stage-m-nav__prev(js-slick-prev)
            i.icon.icon-scroll-left
            span Проект<br> века
          .stage-m-nav__next(js-slick-next)
            span Испытано<br> бездорожьем
            i.icon.icon-scroll-right
            
                  
      // slide
      .stage-slide(data-stage="2")
      
        // TEXT
        .stage-text
          .stage-text__wrapper
            a.stage-text__top(href="stage1_info.html")
              .stage-text__title(js-fit-text) Испытано<br> бездорожьем
            img.stage-text__mobile(js-start-gallery data-for-gallery="2" src='img/stagePhotoMobile-1.png' srcset='img/stagePhotoMobile-1@2x.png 2x')
            .stage-text__short
              p Практически нет уголка в нашей стране, где бы не оставили следы своих шин газов- ские автомобили. Они побывали во всех климатических зонах, прошли испытания в российском полюсе холода в Якутии, первыми преодолели непроходимые болота Забайкалья, участвовали во Всесоюзных автопробегах. За ходом таких испытаний следила вся страна. Участников горячо приветствовали в каждом населённом пункте, куда они прибывали.
              p Газета «Правда» назвала участников одного из крупнейших пробегов 1933 года покорителями пустыни, а всё происходящее сравнила с полётом в стратосферу, который совершили к тому времени советские воздухоплаватели.
          
        // BACKGROUND
        .stage-background
          img(src='img/stageBg-2.png' srcset="img/stageBg-2@2x.png 2x")
                  
              
        // TIMELINE
        .stage-timeline
          .stage-timeline__wrapper
            .stage-timeline__road
              // repeat-x like ?? -- refactor
              img(src='img/road.png' srcset="img/road@2x.png 2x")
              img(src='img/road.png' srcset="img/road@2x.png 2x")

            .stage-timeline__cars
              a.stage-car.stage-car--2_1(href="stage1_car_1.html" )
                img(src='img/car2_1.png' srcset='img/car2_1@2x.png 2x')
              a.stage-car.stage-car--2_2(href="stage1_car_2.html")
                img(src='img/car2_2.png' srcset='img/car2_2@2x.png 2x')
      
        // MOBILE-NAVI
        .stage-m-nav
          .stage-m-nav__prev(js-slick-prev)
            i.icon.icon-scroll-left
            span Проект<br> века
          .stage-m-nav__next(js-slick-next)
            span Испытано<br> бездорожьем
            i.icon.icon-scroll-right
                        
      // slide
      .stage-slide(data-stage="3")
        // TEXT
        .stage-text
          .stage-text__wrapper
            a.stage-text__top(href="stage1_info.html")
              .stage-text__title(js-fit-text) Спорт — это радость побед
            img.stage-text__mobile(js-start-gallery data-for-gallery="1" src='img/stagePhotoMobile-1.png' srcset='img/stagePhotoMobile-1@2x.png 2x')
            .stage-text__short ГЛ-1 — первый советский гоночный автомобиль, созданный на промышленном предприятии. Предположительно, машина получила название ГЛ-1 в честь главного конструктора ГАЗа Андрея Липгарта. «Гоночная Липгарта» — так называли её конструкторы ГАЗа, в том числе и создатель автомобиля Евгений Агитов. С выпуска первого серийного советского гоночного авто прошло почти 80 лет, машины. ГАЗа поменяли свой облик, но традиция завоёвывать первые места в спортивных автомобильных состязаниях остаётся неизменной до сих пор.

        // BACKGROUND
        .stage-background
          picture
            source(media="(min-width: 800px)" srcset="img/stageBg-3.png 1x, img/stageBg-3@2x.png 2x")
            source(media="(max-width: 800px)" srcset="img/stageBgMobile-1.png 1x, img/stageBgMobile-1@2x.png 2x")
            img(src="img/stageBg-3.png")
              
        // TIMELINE
        .stage-timeline
          .stage-timeline__wrapper
            .stage-timeline__road
              // repeat-x like ?? -- refactor
              img(src='img/road.png' srcset="img/road@2x.png 2x")
              img(src='img/road.png' srcset="img/road@2x.png 2x")
            
            .stage-timeline__cars
              a.stage-car.stage-car--1_1(href="stage1_car_1.html" )
                img(src='img/car1_1.png' srcset='img/car1_1@2x.png 2x')
              a.stage-car.stage-car--1_2(href="stage1_car_2.html")
                img(src='img/car1_2.png' srcset='img/car1_2@2x.png 2x')
                
                
      // slide
      .stage-slide(data-stage="4")
        // TEXT
        .stage-text
          .stage-text__wrapper
            a.stage-text__top(href="stage1_info.html")
              .stage-text__title(js-fit-text) На пике трудового энтузиазма
            img.stage-text__mobile(js-start-gallery data-for-gallery="1" src='img/stagePhotoMobile-1.png' srcset='img/stagePhotoMobile-1@2x.png 2x')
            .stage-text__short В августе 1935 г. донецкий шахтёр Алексей Стаханов установил трудовой рекорд: он перевыполнил дневную норму в 14 раз, добыв 102 тонны угля. Но Стаханов не просто стал известным рабочим. Своим подвигом он положил начало стаханов- скому движению. Оно охватило рабочих по всему Советскому Союзу. Труженики самых разных отраслей стремились стать подобно Стаханову, в том числе и те, кто работал на ГАЗе.

        // BACKGROUND
        .stage-background
          picture
            source(media="(min-width: 800px)" srcset="img/stageBg-4.png 1x, img/stageBg-4@2x.png 2x")
            source(media="(max-width: 800px)" srcset="img/stageBgMobile-1.png 1x, img/stageBgMobile-1@2x.png 2x")
            img(src="img/stageBg-3.png")
              
        // TIMELINE
        .stage-timeline
          .stage-timeline__wrapper
            .stage-timeline__road
              // repeat-x like ?? -- refactor
              img(src='img/road.png' srcset="img/road@2x.png 2x")
              img(src='img/road.png' srcset="img/road@2x.png 2x")
            
            .stage-timeline__cars
              a.stage-car.stage-car--1_1(href="stage1_car_1.html" )
                img(src='img/car1_1.png' srcset='img/car1_1@2x.png 2x')
              a.stage-car.stage-car--1_2(href="stage1_car_2.html")
                img(src='img/car1_2.png' srcset='img/car1_2@2x.png 2x')
                
      // slide
      .stage-slide(data-stage="5")
      
      // slide
      .stage-slide(data-stage="6")
        // TEXT
        .stage-text
          .stage-text__wrapper
            a.stage-text__top(href="stage1_info.html")
              .stage-text__title(js-fit-text) «ГАЗ» и Победа неразделимы
            img.stage-text__mobile(js-start-gallery data-for-gallery="1" src='img/stagePhotoMobile-1.png' srcset='img/stagePhotoMobile-1@2x.png 2x')
            .stage-text__short Страна вышла из войны победителем. Но всё, что с таким трудом создавалось в годы пятилеток, было уничтожено фашистами. 26 августа 1945 года ГКО принял специальное постановление «О восстановлении и развитии автомобильной промышленности». Перед трудящимися поставили задачу восстановить довоенное производство и перейти на выпуск новых типов автомобилей. План послевоенной пятилетки предусматривал резкое увеличение выпуска машин. И Горьковскому автомобильному заводу была отведена в этом деле ключевая роль.

        // BACKGROUND
        .stage-background
          picture
            source(media="(min-width: 800px)" srcset="img/stageBg-6.png 1x, img/stageBg-6@2x.png 2x")
            source(media="(max-width: 800px)" srcset="img/stageBgMobile-1.png 1x, img/stageBgMobile-1@2x.png 2x")
            img(src="img/stageBg-3.png")
              
        // TIMELINE
        .stage-timeline
          .stage-timeline__wrapper
            .stage-timeline__road
              // repeat-x like ?? -- refactor
              img(src='img/road.png' srcset="img/road@2x.png 2x")
              img(src='img/road.png' srcset="img/road@2x.png 2x")
            
            .stage-timeline__cars
              a.stage-car.stage-car--1_1(href="stage1_car_1.html" )
                img(src='img/car1_1.png' srcset='img/car1_1@2x.png 2x')
              a.stage-car.stage-car--1_2(href="stage1_car_2.html")
                img(src='img/car1_2.png' srcset='img/car1_2@2x.png 2x')
                  
      // slide
      .stage-slide(data-stage="7")

      // slide
      .stage-slide(data-stage="8")
      
      // slide
      .stage-slide(data-stage="9")
      
      // slide
      .stage-slide(data-stage="10")
      
      // slide
      .stage-slide(data-stage="11")
      
      // slide
      .stage-slide(data-stage="12")
      
      
  include components/_stage-nav


  include components/_gallery
