---
title: ГАЗ спецпроект
bodyClass: homepage
---
extends shared/_layout
block content
  
  .stages(js-stage-global data-stage="1")
    // PHOTOS
    .stage-photos
      .stage-photos__wrapper()
        img(js-png-clickthrough js-png-hover data-for-gallery="1" src='img/stagePhoto-1.png' srcset='img/stagePhoto-1@2x.png 2x')
    
    
    // BACKGROUND
    .stage-background.scroll
      img(src='img/stageBg-1.png' srcset="img/stageBg-1@2x.png 2x")
      img(src='img/stageBg-1.png' srcset="img/stageBg-1@2x.png 2x")
      
      
    // TEXT
    .stage-text.scroll
      .stage-text__wrapper(js-popup data-mfp-src="[data-popup='stage1_info']")
        .stage-text__top
          .stage-text__title <span>Проект</span> <br> <span>века</span>
          .stage-text__logo
            img(src='img/old_logo.png' srcset="img/old_logo@2x.png 2x")
        .stage-text__short Американская компания Ford Motor Company и Высший совет народного хозяйства СССР заключают соглашение о технической помощи по организации массового производства легковых и грузовых автомобилей. В итоге благодаря западным технологиям и советскому энтузиазму завод построили в рекордные сроки — за полтора года. В соответствии с соглашением ГАЗ получал техническую поддержку от Ford Motor Company на протяжении пяти лет после пуска завода.
        
    
    // TIMELINE
    .stage-timeline.scroll
      .stage-timeline__wrapper
        .stage-timeline__road
          // repeat-x like ?? -- refactor
          img(src='img/road.png' srcset="img/road@2x.png 2x")
          img(src='img/road.png' srcset="img/road@2x.png 2x")
          img(src='img/road.png' srcset="img/road@2x.png 2x")
        
        .stage-timeline__cars
          .stage-car.stage-car--1_1
            img(js-popup data-mfp-src="[data-popup='stage1_car_1']" src='img/car1_1.png' srcset='img/car1_1@2x.png 2x')
          .stage-car.stage-car--1_2
            img(js-popup data-mfp-src="[data-popup='stage1_car_2']" src='img/car1_2.png' srcset='img/car1_2@2x.png 2x')



  include components/_stage-nav


  // GALLERY
  .gallery(js-fancybox data-gallery="1")
    span(href="img/gallery/1_1.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_3.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_4.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_5.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_6.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_7.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_8.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_9.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_10.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_11.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_12.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_13.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_14.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_15.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_16.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_17.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_20.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_21.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_22.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_25.jpg" data-fancybox="stage1" data-caption="Caption")
    span(href="img/gallery/1_26.jpg" data-fancybox="stage1" data-caption="Caption")

  
