---
title: ГАЗ спецпроект
---
extends shared/_layout
block content
  
  .page-dialog
    
    .page-bg-image
      img(src='img/popup/popupBgStage1_car_2.png' srcset='img/popup/popupBgStage1_car_2@2x.png 2x')
      
    .page__top
      .page__logo
        img(src='img/old_logo.png' srcset="img/old_logo@2x.png 2x")
      .page__title Газ-A
      
      .page__navigation
        a(href="stage1_car_1.html" ) газ-А
        a(href="stage1_info.html" ) проект века
        a(href="stage1_faces.html" ) лица периода
    
    .page__content
      .page__text
        p.t-caption
          i Следующим автомобилем, за который взялись на Горьковском заводе, стал ГАЗ-А. Эта легковая машина получила такие же, как у грузового ГАЗ-АА, двигатель, радиатор, капот, моторный щит кузова и всю систему электрооборудования.  
        p Машина среднего класса выпускалась только с открытым 5-местным 4-дверным кузовом типа «фаэтон». На случай непогоды можно было поднять брезентовый тент и пристегнуть над дверьми брезентовые боковины с целлулоидными оконцами. Но в стране с суровым климатом это всё равно было не очень практичное решение. В 1934 году была выпущена опытная партия машин, оборудованных закрытыми кузовами типа «седан». Сборка на конвейере таких кузовов, в которых требовалась взаимная подгонка многих сложных по форме деталей, шла очень медленно, и от них в итоге отказались. И тем не менее ГАЗ-А стал самой массовой советской легковой моделью первой половины 1930-х, поставлялся преимущественно государственным и общественным организациям, а также в Красную армию. Частным лицам автомобиль не продавался. 
        p К слову, машина именно модели ГАЗ-А стала стотысячной по счёту, которая сошла с конвейера Горьковского автомобильного завода 17 апреля 1935 года.  

      .page__chars
        img(src='img/popup/popupStage1_car_2.png' srcset='img/popup/popupStage1_car_2@2x.png 2x')
        
        .page__chars-heading Годы производства: 1932 — 1938
        .page__chars-table-row
          table
            tr
              td Тип кузова:
              td 4 дв. фаэтон (5 мест.), 4 дв. седан (5 мест.),<br> 2 дв. пикап (2мест.), рамные

            tr
              td
              td

            tr    
              td Компоновка:
              td переднемоторная, заднеприводная
            tr
              td
              td

            tr
              td Длина:
              td 3790 мм
            tr
              td Ширина:
              td 1710 мм
            tr
              td Высота:
              td 1788 мм
          table
            tr
              td Клиренс:
              td 205 мм
            tr
              td
              td
            tr
              td Колёсная база:
              td 2630 мм
            tr
              td
              td
            tr
              td Колея задняя:
              td 1420 мм
            tr
              td Колея передняя:
              td  1405 мм
            tr
              td
              td
            tr
              td Масса:
              td 1080 кг



      .page__image
        figure
          img(src='img/popup/popupStage1_car_3.png' srcset='img/popup/popupStage1_car_3@2x.png 2x')
          figcaption Автомобиль ГАЗ-А в подарок наркому тяжелого <br> машиностроения СССР Серго Орджоникидзе.<br> 1935 г.

  include components/_stage-nav
