---
title: ГАЗ спецпроект
hBodyClass: ispopup
---
extends shared/_layout
block content
  
  .page-dialog
    .page-bg-image
      img(src='img/popup/popupBgStage1_car_1.png' srcset='img/popup/popupBgStage1_car_1@2x.png 2x')
      
    a(href="/" class='no-decor')
      img(src='img/but_close2.png' class='close-popup')

    .page__top
      .page__logo
        img(src='img/old_logo.png' srcset="img/old_logo@2x.png 2x")
      .page__title Газ-AA
      .page__navigation
        a(href="/stage1_car_2.html") газ-А
        a(href="/stage1_info.html") проект века
        a(href="/stage1_faces.html") история в лицах
      
    .page__content.page__content--order1
      .page__text
        p.t-caption
          i В народе известен как полуторка. Машину называли так из-за грузоподъёмности в полторы тонны. Изначально образцом послужил американский грузовик «Форд» модели АА образца 1930 года, но впоследствии автомобиль был перепроектирован по отечественным чертежам.
        p Даже в самом начале работы завода конструкторы старались создавать машины, которые бы отличались от американских прототипов. На газовских машинах были усилены картеры сцепления и рулевые механизмы, изменена форма радиаторов, дюймовая резьба была заменена на метрическую.  
        p К концу 1932 года завод выпускал по 60 грузовиков ГАЗ-АА в сутки.
        p Полуторки смело можно назвать самым массовым советским автомобилем первой половины XX века. Их можно было встретить на дорогах страны вплоть до конца 60-х годов. Очень востребованы эти машины были и в годы Великой Отечественной войны. Например, именно на полуторках эваку- ировали людей из блокадного Ленинграда и привозили продовольствие в осаждённый город. Дело в том, что ГАЗ-АА был легче другого отечественного грузовика тех лет — ЗИС-5 — и поэтому на нём было безопаснее передвигаться по льду.

      .page__chars
        .page__chars-heading Годы производства: 1932 — 1938
        table
          tr
            td Длина:
            td 5335 мм
          tr
            td Ширина:
            td 2030 мм
          tr
            td Высота:
            td 1870 мм
          tr
            td
            td 
          tr
            td Клиренс:
            td 200 мм
          tr
            td
            td 
          tr
            td Колёсная база:
            td 3340 мм
          tr
            td
            td 
          tr
            td Масса:
            td 1750 кг
          tr
            td
            td 
          tr
            td Грузоподъемность:
            td 1500 кг

      .page__image
        img(js-open-gallery data-for-gallery="1" src='img/popup/popupStage1_car_1.png' srcset='img/popup/popupStage1_car_1@2x.png 2x')
        
