---
title: ГАЗ спецпроект
---
extends shared/_layout
block content

  .page-dialog
    .page-bg-image.page-bg-image--bottom 
      img(src='img/popup/popupBgStage1_faces.png' srcset='img/popup/popupBgStage1_faces@2x.png 2x')
      
    .page__top
      .page__logo
        img(src='img/old_logo.png' srcset="img/old_logo@2x.png 2x")
      .page__title История в лицах
      
      .page__navigation
        a(href="stage1_car_1.html" ) газ-А
        a(href="stage1_car_2.html" ) газ-АА
        a(href="stage1_info.html" ) проект века

    .page__content
      .page__faces-col
        .page__faces-image
          img(js-open-gallery data-for-gallery="1" src='img/popup/popupStage1_face_1.png' srcset='img/popup/popupStage1_face_1@2x.png 2x')

        .page__text
          p <span>Сергей Дьяконов</span> возглавлял завод с 1932 по 1938 гг. Он сыграл неоценимую роль в становлении и развитии Горьковского автозавода. За время своей работы он сумел запустить в производство более 17 модификаций автомобилей. 

          p В марте 1934 года был удостоен ордена Ленина, который получил за успешное освоение производства автомашин нескольких модификаций. В 1938 году подвергся гонениям, был репрессирован. Сегодня его имя носит одна из улиц в Нижнем Новгороде.
      
      .page__faces-col
        .page__faces-image
          img(js-open-gallery data-for-gallery="1" src='img/popup/popupStage1_face_2.png' srcset='img/popup/popupStage1_face_2@2x.png 2x')

        .page__text
          p <span>Андрей Александрович Липгарт</span> с 1933 по 1951 год был главным конструктором Горьковского автомобильного завода. 

          p Под его началом сформировалась конструкторская школа отечественного автомобилестроения. Пятикратный лауреат Сталинских премий Липгарт спроектировал 67 моделей автомобилей, 27 из которых пошли в производство. 
  
  
  include components/_stage-nav
  include components/_gallery
