include _mixins
doctype html
html(lang="ru" class=hBodyClass)
  head
    include _head

  body(class=hBodyClass)
    #barba-wrapper
      block header
        include ../components/_page-header
        
      .page(class=bodyClass)
        block content

    block scripts
      include _scripts
