// LAYOUT
$mobile-s: 414
$mobile: 568
$tablet: 768
$desktop: 992
$wide: 1200
$hd: 1680

// COLORS
$colorRed: #7e1316

$fontColor: #333
$colorGreen: #4ab68f
$colorYellow: #fda737
$colorOrange: #f46d36

$grayColor: #999
$borderColor: #e8e8e8

// OPTIONS
$transitionSpeed: .25s
$ease: ease-in
