// GALLERY
.gallery
  display: none

.fancybox-bg
  background: #2a200e
.fancybox-is-open
  .fancybox-bg
    opacity: .95

.fancybox-inner
  display: flex
  flex-direction: column
//   padding-left: 30px
//   padding-right: 30px
//   padding-bottom: 100px

.fancybox-caption-wrap
  margin-top: auto
  position: static

// .fancybox-slide
//   .fancybox-image-wrap
//     bottom: 100px

.fancybox-caption-wrap
  display: flex
  flex-direction: column
  min-height: 100px


.fancybox-caption
  margin-bottom: auto
  padding: 15px 0 0 0

+r($wide)
  .fancybox-caption
    font-size: 24px

+r($tablet)
  .fancybox-caption
    font-size: 20px

+r($mobile)
  .fancybox-caption
    font-size: 16px


.fancybox-toolbar
  top: 40px
  right: 40px

.fancybox-button--close
  opacity: .5
  transition: all $transitionSpeed $ease
  &:hover
    opacity: .75

.fancybox-navigation button:before
  display: none


.fancybox-can-drag
  .fancybox-toolbar
    opacity: 0
  .fancybox-caption
    opacity: 0
  .fancybox-navigation
    opacity: 0

// show thumbs
// @media all and (min-width: 800px)
.fancybox-thumbs
  top: auto
  width: auto
  bottom: 0
  left: 0
  right: 0
  height: 95px
  padding: 10px
  box-sizing: border-box
  background: transparent
.fancybox-show-thumbs .fancybox-inner
  right: 0
  bottom: 95px

@media all and (max-width: 800px)
  .fancybox-show-thumbs .fancybox-inner
    right: 0

.fancybox-thumbs > ul
  display: flex
  justify-content: center
  padding: 10px 0
  > li
    height: 45px
    width: auto
    margin-right: 5px
    transition: transform .3s ease
    &::before
      display: none

    > img
      position: static
      margin: 0 !important

.fancybox-thumbs-active
  transform: scale(1.15)


+r($wide)
  .fancybox-toolbar
    top: 0
    right: 0
    button
      transform: scale(.5)
  .fancybox-navigation
    button
      transform: scale(.5) translateY(-50%)

+r($tablet)
  .fancybox-navigation
    display: none !important
