// INDEX

.scroll
  position: fixed
  top: 0
  left: 0
  transition: transform .1s linear

// управление параллаксом детей через width
// Math.floor(deltaW * scrollPercent)

.stages
  position: relative
  flex: 1 1 auto
  display: flex
  flex-direction: column
  &::after
    display: inline-block
    content: ' '
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: calc(5vh + 84px)
    background: linear-gradient( to bottom, #ded5c5 0%, #d8bb91 100%)


// .stage
//   position: relative
//   flex: 1 1 auto
//   display: flex
//   flex-direction: column

// PHOTOS
.stage-photos
  position: fixed
  z-index: 5
  top: 0
  left: 0
  right: 0
  &__wrapper
    position: relative
    img
      max-width: 100%
      transform-origin: top center
      transition: transform .3s ease
      &.is-hovered
        cursor: pointer
        transform: scale(1.02)



// BG
.stage-background
  width: 70%
  top: auto
  // stage nav + road offset - 10 road boarder
  bottom: calc(5vh + 84px + 155px)
  z-index: 10
  pointer-events: none



// TEXT
.stage-text
  width: 100%
  bottom: calc(5vh + 84px + 100px)
  display: flex
  flex-direction: column
  color: $colorRed
  z-index: 20
  pointer-events: none
  &__wrapper
    // max-width: calc(50vw - 8.3vw)
    margin: auto 8.3% auto 50%
    padding: 30px 0px 30px 50px
    cursor: pointer
    pointer-events: all
    &:hover
      .stage-text__title
        span::after
          opacity: 0
          bottom: 5px
  &__top
    display: flex
    align-items: flex-end
  &__title
    font-size: 67px
    font-family: 'a_BodoniOrtoTitul', serif
    text-transform: uppercase
    span
      position: relative
      &::after
        display: inline-block
        content: ' '
        position: absolute
        bottom: 2px
        height: 3px
        left: 0
        right: 0
        z-index: 1
        background: $colorRed
        transition: all $transitionSpeed ease-out
  &__short
    margin-top: 30px
    font-size: 20px
  &__logo
    flex: 0 1 auto
    margin-left: 5%
    img
      max-width: 100%



// TIMELINE
.stage-timeline
  width: 140%
  z-index: 30
  top: auto
  // stage nav offset
  bottom: calc(5vh + 84px)
  &__wrapper
    position: relative
  &__road
    position: absolute
    bottom: 0
    z-index: 1
    display: flex
  &__cars
    display: flex
    position: relative
    left: 0
    right: 0
    z-index: 2

.stage-car
  flex: 0 0 auto
  img
    max-width: 100%
    transform-origin: center
    transition: transform .3s ease
    &.is-hovered, &:hover
      cursor: pointer
      transform: scale(1.02)
  &--1_1
    align-self: flex-end
    margin-left: 13%
    margin-bottom: 30px
  &--1_2
    align-self: flex-start
    margin-left: 8%
    margin-bottom: 55px
