/* stage car
.stage-car
  display: inline-block
  position: relative
  flex: 0 0 auto
  cursor: default
  // transition: transform .4s .4s linear
  // transform: translate3d(-60vw, 0,0)
  img
    max-width: 100%
    transform-origin: center
    cursor: pointer
    transition: transform .3s ease
    &.is-hovered, &:hover
      cursor: pointer
      // transform: scale(1.02)
  img
    position: relative
    z-index: 1
  .wheel1, .wheel2
    position: absolute
    z-index: 2

  &--1_1
    align-self: flex-end
    margin-left: 17%
    margin-bottom: 30px
    .wheel1
      left: 11%
      bottom: 7.5%
    .wheel2
      right: 8.5%
      bottom: 7.5%
  &--1_2
    align-self: flex-start
    margin-left: 13%
    margin-bottom: 55px
    .wheel1
      left: 17%
      bottom: 9%
    .wheel2
      right: 2.5%
      bottom: 9%

  &--2_1
    align-self: center
    margin-left: 15%
    margin-bottom: 20px
    .wheel1
      left: 15.3%
      bottom: 9%
    .wheel2
      right: 7%
      bottom: 9%
  &--2_2
    align-self: flex-start
    margin-left: 20%
    margin-bottom: 25px
    .wheel1
      left: 18%
      bottom: 7.4%
    .wheel2
      right: 6.5%
      bottom: 7.4%


  &--3_1
    align-self: flex-start
    margin-left: 15%
    margin-bottom: 50px
    .wheel1
      left: 12%
      bottom: 11%
    .wheel2
      right: 8.5%
      bottom: 11%
  &--3_2
    align-self: flex-end
    margin-left: 10%
    margin-bottom: 35px
    .wheel1
      left: 12%
      bottom: 11%
    .wheel2
      right: 8.5%
      bottom: 11%

  &--4_1
    align-self: flex-start
    margin-left: 4%
    margin-top: -50px
    .wheel1
      left: 18%
      bottom: 7.4%
    .wheel2
      right: 6.5%
      bottom: 7.4%
  &--4_2
    margin-left: 3%
    margin-bottom: 30px
    align-self: flex-end
    .wheel1
      left: 14.7%
      bottom: 7.1%
    .wheel2
      right: 5.5%
      bottom: 7.7%
  &--4_3
    align-self: flex-end
    margin-left: 3%
    margin-bottom: 30px
    .wheel1
      left: 17%
      bottom: 9%
    .wheel2
      right: 2.5%
      bottom: 9%

  &--5_1
    align-self: flex-end
    margin-left: 20%
    margin-bottom: 10px
    .wheel1
      left: 12.5%
      bottom: 7.5%
    .wheel2
      right: 8%
      bottom: 7.5%
  &--5_2
    margin-left: 10%
    margin-bottom: 60px
    align-self: flex-end

  &--6_1
    align-self: flex-end
    margin-left: 15%
    margin-bottom: 30px
    .wheel1
      z-index: 1
      left: 17.5%
      bottom: 11%
    .wheel2
      right: 12%
      bottom: 11%
  &--6_2
    align-self: flex-start
    margin-left: 8%
    margin-bottom: 65px
    .wheel1
      left: 17.5%
      bottom: 9%
    .wheel2
      right: 13.5%
      bottom: 9%


  &--7_1
    align-self: flex-end
    margin-left: 10%
    margin-bottom: 30px
    .wheel1
      z-index: 1
      left: 17.5%
      bottom: 10%
    .wheel2
      right: 5.7%
      bottom: 10%
  &--7_2
    align-self: center
    margin-left: 11%
    margin-bottom: 20px
    .wheel1
      left: 13%
      bottom: 11%
    .wheel2
      right: 8%
      bottom: 11%


  &--8_1
    align-self: center
    margin-left: 4%
    margin-bottom: 30px
    .wheel1
      left: 18%
      bottom: 7.4%
    .wheel2
      right: 11%
      bottom: 7.4%
  &--8_2
    margin-left: 3%
    margin-bottom: 0px
    align-self: center
    .wheel1
      left: 18%
      bottom: 13%
    .wheel2
      right: 7.5%
      bottom: 13%
  &--8_3
    align-self: center
    margin-left: 3%
    margin-bottom: 30px
    .wheel1
      left: 19.7%
      bottom: 12%
    .wheel2
      right: 9.5%
      bottom: 12%

  &--9_1
    align-self: flex-end
    margin-left: 12%
    margin-bottom: 20px
    .wheel1
      z-index: 1
      left: 13.5%
      bottom: 7.5%
    .wheel2
      right: 12%
      bottom: 7.5%
  &--9_2
    align-self: center
    margin-left: 5%
    margin-bottom: 40px
    .wheel1
      left: 17%
      bottom: 8%
    .wheel2
      right: 11%
      bottom: 8%

  &--10_1
    align-self: flex-end
    margin-left: 2%
    margin-bottom: 20px
    .wheel1
      z-index: 1
      left: 17.4%
      bottom: 10%
    .wheel2
      right: 12.5%
      bottom: 10%
  &--10_2
    align-self: center
    margin-left: 4%
    margin-bottom: 30px
  &--10_3
    align-items: center
    margin-bottom: 80px
    .wheel1
      left: 17.5%
      bottom: 8%
    .wheel2
      right: 13%
      bottom: 8%
  &--10_4
    position: absolute
    left: 17%
    bottom: 85px
    z-index: -1
    .wheel1
      left: 17.6%
      bottom: 8%
    .wheel2
      right: 5%
      bottom: 8%


  &--11_1
    align-self: center
    margin-left: 4%
    margin-bottom: 30px
  &--11_2
    margin-left: 3%
    margin-bottom: 0px
    align-self: center
  &--11_3
    align-self: center
    margin-left: 3%
    margin-bottom: 30px
  &--11_4
    align-self: center
    margin-left: 3%
    margin-bottom: 30px


.slick-active
  .stage-timeline__cars
    transform: translate3d(0,0,0)

.slick-removing
  .stage-timeline__cars
    transition-delay: 0s
    transition-timing-function: easeInExpo
    transform: translate3d(-100vw,0,0)


/* responsive cars
+r($hd)
  .stage-car
    transform: scale(.9)
    transform-origin: left bottom

    &--4_1
      transform: scale(.8)
      margin-left: 2%
    &--4_2
      transform: scale(.8)
      margin-left: -2.5%
    &--4_3
      transform: scale(.8)
      margin-left: -3%

    &--5_1
      margin-left: 15%
    &--5_2
      margin-left: 5%

    &--6_1
      margin-left: 10%
      margin-bottom: 20px
    &--6_2
      margin-left: 0%
      margin-bottom: 45px
    &--7_1
      margin-left: 7%
    &--7_2
      margin-left: 0%
      margin-bottom: 10px
    &--8_1
      transform: scale(.8)
      margin-left: 3%
    &--8_2
      transform: scale(.8)
      margin-left: -4%
    &--8_3
      transform: scale(.8)
      margin-left: -2%
    &--9_1
      margin-left: 7%
    &--9_2
      margin-left: 0%

+r($wide)
  .stage-car
    transform: scale(.75)
    &--1_1
    &--1_2
      margin-left: 5%
      margin-bottom: 45px

    &--2_2
      margin-left: 5%
    &--3_2
      margin-left: 0%

    &--4_1, &--4_2, &--4_3
      transform: scale(.7)

    &--4_1
      align-self: center
      margin-bottom: 25px
    &--4_2
      margin-left: -7%
    &--4_3
      margin-left: -7%
    &--5_1
      margin-left: 10%
      margin-bottom: 30px

    &--8_1
      transform: scale(.65)
      margin-left: 3%
    &--8_2
      transform: scale(.7)
      margin-left: -16vw
    &--8_3
      transform: scale(.7)
      margin-left: -8vw

    &--9_1
      margin-left: 5%
    &--9_2
      margin-left: -5vw


// tablet and below goes as absolute
// should be set with top/right/left/bottom
// margin and width is reset

+r($tablet)
  .stage-car
    margin: 0
    position: absolute
    // width: 100%
    img
      display: block
      max-width: 100%
    &--1_1
      bottom: 55px
      left: 5vw
    &--1_2
      top: -115px
      left: 20vw

    &--2_1
      bottom: 55px
      left: 5vw
    &--2_2
      top: -115px
      left: 20vw
    &--3_1
      bottom: 55px
      left: 10vw
    &--3_2
      top: -95px
      left: 30vw
    &--4_1
      z-index: 3
      bottom: 55px
      left: 5vw
    &--4_2
      z-index: 2
      bottom: 175px
      left: 7vw
    &--4_3
      z-index: 1
      top: -115px
      left: 12vw
    &--5_1
      bottom: 55px
      left: 20vw
    &--5_2
      top: -165px
      left: 10vw
    &--6_1
      top: -55px
      left: 10vw
    &--6_2
      bottom: 55px
      left: 10vw
    &--7_1
      top: -195px
      left: 10vw
    &--7_2
      bottom: 55px
      left: 20vw
    &--8_1
      top: -165px
      left: 10vw
    &--8_2
      bottom: 155px
      left: 20vw
    &--8_3
      bottom: 35px
      left: 10vw
    &--9_1
      z-index: 2
      bottom: 35px
      left: 10vw
    &--9_2
      top: -140px
      left: 10vw

+r($mobile)
  .stage-car
    transform: scale(.65)
    &--1_1
      bottom: 30px
    &--1_2
      top: -140px
    &--2_1
      bottom: 40px
    &--2_2
      top: -130px
    &--3_1
      bottom: 45px
      left: 5vw
    &--3_2
      top: -125px
      left: 20vw
    &--4_1
      bottom: 25px
      left: 5vw
    &--4_2
      bottom: 135px
      left: 7vw
    &--4_3
      top: -165px
      left: 12vw
    &--5_1
      bottom: 20px
      left: 20vw
    &--5_2
      top: -205px
      left: 10vw
    &--6_1
      top: -75px
      left: 5vw
    &--6_2
      bottom: 35px
      left: 5vw
    &--7_1
      transform: scale(.57)
      top: -245px
      left: 3vw
    &--7_2
      transform: scale(.57)
      bottom: 35px
      left: 15vw
    &--8_1
      transform: scale(.57)
      top: -205px
      left: 5vw
    &--8_2
      bottom: 115px
      left: 16vw
    &--8_3
      bottom: 35px
      left: 5vw
    &--9_1
      transform: scale(.5)
      bottom: 35px
      left: 3vw
    &--9_2
      transform: scale(.5)
      top: -185px
      left: 3vw
    &--10_1
      bottom: 35px
      left: 3vw
    &--10_2
      top: -185px
      left: 3vw

// WHEEL ANIMATION
.stage-car
  .wheel1, .wheel2
    .icon
      // transform-origin: center center
      animation: wheel-rotate 4s linear infinite


@keyframes wheel-rotate
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)
