
.stage-nav
  position: absolute
  left: 0
  right: 0
  bottom: 0
  z-index: 99
  flex: 0 0 auto
  overflow: hidden
  &__wrapper
    position: relative
    z-index: 1
    padding-bottom: 5vh
    &::after
      display: inline-block
      content: ' '
      position: absolute
      bottom: 0px
      left: 0
      right: 0
      z-index: 1
      background: linear-gradient( to top, #ded5c5 0%, #d8bb91 100%)
      // height: 140px
      top: 0
  &__menu
    position: relative
    z-index: 2
    padding: 15px 60px
    margin: 0
    min-height: 84px
    display: flex
    align-items: center
    justify-content: space-between
    background-color: rgb(216, 187, 145)
    box-shadow: 0px 12px 18.9px 2.1px rgba(0, 0, 0, 0.24)
    transition: color .2s ease
  &__li
    flex: 0 1 auto
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    .ico
      font-size: 46px
      fill: rgba(#a88d69, .4)
      transition: fill $transitionSpeed $ease

    &:hover, &.is-active
      .ico
        fill: #7e1316
  &__copy
    position: absolute
    left: 0
    right: 0
    bottom: calc(3vh - 12px)
    z-index: 3
    text-align: center
    font-size: 12px
    color: $colorPrimary

+r($hd)
  .stage-nav
    &__menu
      padding: 15px 40px

+r($wide)
  .stage-nav
    &__wrapper
      &::after
        // height: 122px
    &__menu
      padding: 5px 30px
      min-height: 64px
    &__li
      transform-origin: center center
      .ico
        font-size: 36px

+r($w1200)
  .stage-nav
    &__li
      .ico
        font-size: 28px

+r($desktop)
  .stage-nav
    &__menu
      padding: 0px 30px
      min-height: 54px
    &__li
      .ico
        font-size: 23px

+r($tablet)
  .stage-nav
    position: static
    display: none
    &__li


+r($mobile)
  .stage-nav
    display: none


.stage-nav
  &[data-stage="2"]
    .stage-nav
      &__wrapper::after
        background-image: linear-gradient( to top, rgb(252,234,136) 0%, rgb(157,192,196) 57%)
      &__menu
        background-color: #9fb6a8
      &__li
        .ico
          fill: rgba(#d5dfdc, .4)
        &:hover, &.is-active
          .ico
            fill: #3c5460

  &[data-stage="3"]
    .stage-nav
      &__wrapper::after
        background-image: linear-gradient( to bottom, rgb(252,161,136) 0%, rgb(246,205,169) 100%)
      &__menu
        background-color: #fca087
      &__li
        .ico
          fill: rgba(#f7e3ab, .4)
        &:hover, &.is-active
          .ico
            fill: #fc3214

  &[data-stage="4"]
    .stage-nav
      &__wrapper::after
        background-image: linear-gradient( to bottom, rgb(210,252,136) 0%, rgb(129,142,78) 100%)
      &__menu
        background-color: #cbdd6e
      &__li
        .ico
          fill: rgba(#a0ae36, .4)
        &:hover, &.is-active
          .ico
            fill: #566229

  &[data-stage="5"]
    .stage-nav
      &__wrapper::after
        background-image: linear-gradient( to top, rgb(81,3,5) 0%, rgb(201,2,7) 100%)
      &__menu
        background-color: #c20207
      &__li
        .ico
          fill: rgba(#580205, .4)
        &:hover, &.is-active
          .ico
            fill: white

  &[data-stage="6"]
    .stage-nav
      &__wrapper::after
        // background-image: linear-gradient( to top, rgb(252,234,136) 0%, rgb(157,192,196) 57%);
      &__menu
        background-color: #059d7b
      &__li
        .ico
          fill: rgba(#69dd60, .4)
        &:hover, &.is-active
          .ico
            fill: #e1f113
  &[data-stage="7"]
    .stage-nav
      &__wrapper::after
        background-image: linear-gradient( to bottom, rgb(255,242,223) 0%, rgb(224,247,235) 62%, rgb(192,252,247) 100%)
      &__menu
        background-color: #d1a246
      &__li
        .ico
          fill: rgba(#f2da71, .4)
        &:hover, &.is-active
          .ico
            fill: #feef9f

  &[data-stage="8"]
    .stage-nav
      &__wrapper::after
        background-image: linear-gradient( to top, rgb(243,246,160) 0%, rgb(240,226,199) 38%, rgb(236,205,238) 100%)
      &__menu
        background-color: #e4c0d9
      &__li
        .ico
          fill: rgba(#79add7, .4)
        &:hover, &.is-active
          .ico
            fill: #f3f6a1
  &[data-stage="9"]
    .stage-nav
      &__wrapper::after
        background-image: linear-gradient( to bottom, rgb(218,147,88) 0%, rgb(130,50,192) 100%)
      &__menu
        background-color: #d08952
      &__li
        .ico
          fill: rgba(#b46985, .4)
        &:hover, &.is-active
          .ico
            fill: #8e3fb3
  &[data-stage="10"]
    .stage-nav
      &__wrapper::after
        background-image: linear-gradient( to bottom, rgb(133,206,113) 0%, rgb(63,167,197) 100%)
      &__menu
        background-color: #d5af4b
      &__li
        .ico
          fill: rgba(#fff9be, .4)
        &:hover, &.is-active
          .ico
            fill: #fff9be

  &[data-stage="11"]
    .stage-nav
      &__wrapper::after
        // background-image: linear-gradient( to top, rgb(252,234,136) 0%, rgb(157,192,196) 57%);
      &__menu
        background-color: #fca087
      &__li
        .ico
          fill: rgba(#a0ae36, .4)
        &:hover, &.is-active
          .ico
            fill: #566229
  &[data-stage="12"]
    .stage-nav
      &__wrapper::after
        // background-image: linear-gradient( to top, rgb(252,234,136) 0%, rgb(157,192,196) 57%);
      &__menu
        background-color: #fca087
      &__li
        .ico
          fill: rgba(#a0ae36, .4)
        &:hover, &.is-active
          .ico
            fill: #566229
