$sprite: (
	car1_1_wheel1: (
		offset-x: -364px,
		offset-y: -422px,
		width: 76px,
		height: 78px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car1_1_wheel2: (
		offset-x: -533px,
		offset-y: 0px,
		width: 76px,
		height: 78px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car1_2_wheel1: (
		offset-x: -429px,
		offset-y: 0px,
		width: 94px,
		height: 93px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car1_2_wheel2: (
		offset-x: -429px,
		offset-y: -103px,
		width: 94px,
		height: 93px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car2_1_wheel1: (
		offset-x: -372px,
		offset-y: -513px,
		width: 59px,
		height: 59px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car2_1_wheel2: (
		offset-x: -303px,
		offset-y: -513px,
		width: 59px,
		height: 59px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car2_2_wheel1: (
		offset-x: -92px,
		offset-y: -422px,
		width: 82px,
		height: 81px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car2_2_wheel2: (
		offset-x: 0px,
		offset-y: -422px,
		width: 82px,
		height: 81px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car3_1_wheel1: (
		offset-x: -188px,
		offset-y: -329px,
		width: 84px,
		height: 83px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car3_1_wheel2: (
		offset-x: 0px,
		offset-y: -329px,
		width: 84px,
		height: 83px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car3_2_wheel1: (
		offset-x: -94px,
		offset-y: -329px,
		width: 84px,
		height: 83px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car3_2_wheel2: (
		offset-x: -429px,
		offset-y: -206px,
		width: 84px,
		height: 83px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car4_2_wheel1: (
		offset-x: -533px,
		offset-y: -173px,
		width: 76px,
		height: 75px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car4_2_wheel2: (
		offset-x: -533px,
		offset-y: -88px,
		width: 76px,
		height: 75px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car5_1_wheel1: (
		offset-x: -274px,
		offset-y: -422px,
		width: 80px,
		height: 79px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car5_1_wheel2: (
		offset-x: -184px,
		offset-y: -422px,
		width: 80px,
		height: 79px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car6_1_wheel1: (
		offset-x: -533px,
		offset-y: -422px,
		width: 72px,
		height: 71px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car6_1_wheel2: (
		offset-x: -222px,
		offset-y: -121px,
		width: 72px,
		height: 71px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car6_2_wheel1: (
		offset-x: -450px,
		offset-y: -422px,
		width: 72px,
		height: 71px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car6_2_wheel2: (
		offset-x: -533px,
		offset-y: -341px,
		width: 72px,
		height: 71px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car7_1_wheel1: (
		offset-x: 0px,
		offset-y: -208px,
		width: 113px,
		height: 111px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car7_1_wheel2: (
		offset-x: -222px,
		offset-y: 0px,
		width: 113px,
		height: 111px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car7_2_wheel1: (
		offset-x: -375px,
		offset-y: -329px,
		width: 83px,
		height: 82px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car7_2_wheel2: (
		offset-x: -282px,
		offset-y: -329px,
		width: 83px,
		height: 82px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car8_1_wheel1: (
		offset-x: -233px,
		offset-y: -208px,
		width: 100px,
		height: 99px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car8_1_wheel2: (
		offset-x: -123px,
		offset-y: -208px,
		width: 100px,
		height: 99px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car8_2_wheel1: (
		offset-x: 0px,
		offset-y: -513px,
		width: 69px,
		height: 68px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car8_2_wheel2: (
		offset-x: -79px,
		offset-y: -513px,
		width: 66px,
		height: 65px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car8_3_wheel1: (
		offset-x: -229px,
		offset-y: -513px,
		width: 64px,
		height: 63px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	car8_3_wheel2: (
		offset-x: -155px,
		offset-y: -513px,
		width: 64px,
		height: 63px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	gallery-close: (
		offset-x: -533px,
		offset-y: -258px,
		width: 73px,
		height: 73px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	gallery-left: (
		offset-x: -111px,
		offset-y: 0px,
		width: 101px,
		height: 198px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	gallery-right: (
		offset-x: 0px,
		offset-y: 0px,
		width: 101px,
		height: 198px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	scroll-left: (
		offset-x: -345px,
		offset-y: -151px,
		width: 74px,
		height: 141px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
	scroll-right: (
		offset-x: -345px,
		offset-y: 0px,
		width: 74px,
		height: 141px,
		total-width: 609px,
		total-height: 581px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-car1_1_wheel1 {
		@include sprite(car1_1_wheel1)
	}
	.icon-car1_1_wheel2 {
		@include sprite(car1_1_wheel2)
	}
	.icon-car1_2_wheel1 {
		@include sprite(car1_2_wheel1)
	}
	.icon-car1_2_wheel2 {
		@include sprite(car1_2_wheel2)
	}
	.icon-car2_1_wheel1 {
		@include sprite(car2_1_wheel1)
	}
	.icon-car2_1_wheel2 {
		@include sprite(car2_1_wheel2)
	}
	.icon-car2_2_wheel1 {
		@include sprite(car2_2_wheel1)
	}
	.icon-car2_2_wheel2 {
		@include sprite(car2_2_wheel2)
	}
	.icon-car3_1_wheel1 {
		@include sprite(car3_1_wheel1)
	}
	.icon-car3_1_wheel2 {
		@include sprite(car3_1_wheel2)
	}
	.icon-car3_2_wheel1 {
		@include sprite(car3_2_wheel1)
	}
	.icon-car3_2_wheel2 {
		@include sprite(car3_2_wheel2)
	}
	.icon-car4_2_wheel1 {
		@include sprite(car4_2_wheel1)
	}
	.icon-car4_2_wheel2 {
		@include sprite(car4_2_wheel2)
	}
	.icon-car5_1_wheel1 {
		@include sprite(car5_1_wheel1)
	}
	.icon-car5_1_wheel2 {
		@include sprite(car5_1_wheel2)
	}
	.icon-car6_1_wheel1 {
		@include sprite(car6_1_wheel1)
	}
	.icon-car6_1_wheel2 {
		@include sprite(car6_1_wheel2)
	}
	.icon-car6_2_wheel1 {
		@include sprite(car6_2_wheel1)
	}
	.icon-car6_2_wheel2 {
		@include sprite(car6_2_wheel2)
	}
	.icon-car7_1_wheel1 {
		@include sprite(car7_1_wheel1)
	}
	.icon-car7_1_wheel2 {
		@include sprite(car7_1_wheel2)
	}
	.icon-car7_2_wheel1 {
		@include sprite(car7_2_wheel1)
	}
	.icon-car7_2_wheel2 {
		@include sprite(car7_2_wheel2)
	}
	.icon-car8_1_wheel1 {
		@include sprite(car8_1_wheel1)
	}
	.icon-car8_1_wheel2 {
		@include sprite(car8_1_wheel2)
	}
	.icon-car8_2_wheel1 {
		@include sprite(car8_2_wheel1)
	}
	.icon-car8_2_wheel2 {
		@include sprite(car8_2_wheel2)
	}
	.icon-car8_3_wheel1 {
		@include sprite(car8_3_wheel1)
	}
	.icon-car8_3_wheel2 {
		@include sprite(car8_3_wheel2)
	}
	.icon-gallery-close {
		@include sprite(gallery-close)
	}
	.icon-gallery-left {
		@include sprite(gallery-left)
	}
	.icon-gallery-right {
		@include sprite(gallery-right)
	}
	.icon-scroll-left {
		@include sprite(scroll-left)
	}
	.icon-scroll-right {
		@include sprite(scroll-right)
	}
